.title {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    font-weight: 700;
}

.subtitle {

    font-size: 18px;
    line-height: 37px;
    padding-left: 13px;
    text-align: center;
    color: #515151;
    font-style: italic;
}

@media (max-width: 647px) {
    .title {
        font-size: 31px;
    }
    .subtitle {
        font-size: 16px;
    }
}